[2020-01-30 13:34] avelino opened #1 "lint review"
Golint is a linter for Go source code - https://goreportcard.com/report/github.com/meilisearch/meilisearch-go#golint

[code]

[2020-01-30 13:35] avelino opened #2 "license file not exist"
Which software license is the project maintained under?

[2020-02-03 15:25] alexisvisco commented on #1
Hi, the client is under construction.

The doc is not a high priority because the meilisearch database has documentation and the go client is strongly correlated with it.

[2020-02-03 15:26] #1 closed

[2020-02-03 15:28] alexisvisco commented on #2
Hey!

There is not at the moment 🤔 which should be used here ?

[2020-02-03 16:43] Kerollmops commented on #2
I would say something like MIT or Apache2, what do you think?

[2020-02-05 15:38] alexisvisco commented on #2
Hi I have created an MIT license since other clients has too.

Closing this issue.

[2020-02-05 15:38] #2 closed

[2020-03-24 21:14] curquiza opened #4 "Search parameters should be optional"
The search returns no result if I don't pass the `Limit` parameter. It does not fail. It just returns empty `Hits`.

[code]
=> no result

[code]
=> result

We should be able to pass only the `Query` parameter

### Edit

<s>I understand that 2 parameters at least are needed because
[code]
returns results as well.</s>

My bad, it does not even run at all, I open an issue for that: #7

### Version
`v

[2020-03-24 22:11] curquiza opened #6 "Access _formatted in a search response"
Currently, we do not have a way to access the `_formatted` key in a search response if we ask for an `AttributesToHighlight`.

https://github.com/meilisearch/meilisearch-go/blob/f9427a2cc1e502de018a355ac65e4c81262e703e/types.go#L157-L163

[2020-03-25 09:48] curquiza opened #7 "AttributesToHighlight example does not work"
When I try the example in the readme with the `AttributesToHighlight` parameter:

[code]

it does not run, with this error:

[code]

[2020-03-25 12:07] curquiza opened #8 "Delete indexes after tests"
Currently, if I have already a MeiliSearch isntance running locally, and if I run the tests `./run_tests.sh`, there are several indexes still running in my MeiliSearch instance.

We should provide tests that clean all the indexes created for tests purpose.

[2020-03-25 12:52] curquiza opened #9 "golint"
In the development workflow part there is two points about golint:
[code]

2 issues:
- The first command modifies the `go.sum` and the `go.mod` files. Is it expected?
- Despite I ran the first command, the `golint` tool is still unavailable for me.

When I run `go get -u golang.org/x/lint/golint` I get:
[code]
And the command returns 0 (success).

[2020-03-25 13:15] curquiza opened #10 "Infinite loop in AwaitAsyncUpdateID function"
If I have well understood, we are stuck in an infinite loop, if for any reason, the status of the update is stuck to `enqueued`.

https://github.com/meilisearch/meilisearch-go/blob/f9427a2cc1e502de018a355ac65e4c81262e703e/client.go#L241-L256

We should define a default value of timeout.
This value could be change when passing an optional `timeOut` parameter in this function.

Plus, the name of the

[2020-03-27 17:15] alexisvisco commented on #10
Yes we can add a ctx for sure that let user define a timeout :)
That's a nice idea.

[2020-03-27 17:16] alexisvisco commented on #8
The docker command to launch the Meilisearch has  a ` --rm` flag so there is no remaining container after the tests.

[2020-03-27 17:23] curquiza commented on #8
As I said, I already had a local MeiliSearch instance for dev purposes when I ran the tests. In this case, the script test uses the current running MeiliSearch instance instead of running a new one in a docker. So, my local instance was full of test indexes after that.
It's not a big issue, but it's not really convenient to dev with this kind of behavior ;)

I re-open the issue because I want it t

[2020-03-29 14:35] JokerQyou opened #11 "Per index stats"
It seems like the API for per-index stats information is currently not available with this client library, is that right? `client.Stats().Get()` always returns an empty stats data.

[2020-03-30 10:53] alexisvisco commented on #11
Thanks you for your report, I will investigate this soon !

[2020-03-30 11:33] alexisvisco commented on #11
There was indeed a problem. The client was using the wrong route.

[2020-03-30 12:25] alexisvisco commented on #6
After reading the doc it's not totally clear but from what I understood the `_formatted` appear in each  object of the `hits` array right ?

Since there is no generics in Go I can't wrap the result hits into an object that is containing `_formatted`.

A way to do that is by creating your type and an other with the Formatted key.

But you pointed out a weakness of the library anyway: the result typ

[2020-03-30 12:29] alexisvisco commented on #4
Hi thanks for your report: The default value of an int in Go is 0 so if you don't initialize the field `Limit` from the `SearchRequest` you get 0 result: it's normal.

Maybe we can provide a default limit in accordance to the MeiliSearch engine ?

[2020-03-30 15:40] curquiza commented on #6
Hi! Thanks for your answer :)

You're completely right, the `_formatted` field is a sub array in `hits`, my bad!

Thanks for providing a temporary solution to get it 🙂

I keep this issue open to think about finding a better way to manage that.

[2020-03-30 15:45] curquiza commented on #4
Hi!

The MeiliSearch engine uses a limit of 20 by default.

But isn't it possible to provide a function that sends a simple request without any parameter if the user does not provide any? 🙂 Except for the mandatory one (`query`) of course

[2020-03-30 16:20] alexisvisco commented on #4
With the fix added in  `dev` it should be possible :)

[2020-03-31 19:51] umahmood opened #14 "Typo In 'Add documents' Code Example In README.md File"
Hello,

The 'Add documents' code example in the README.md file contains a typo, which results in a compile error. The code:
[code]
Is missing a comma at the end of "masterKey", example:
[code]
Without the comma you get a compiler error:

`syntax error: unexpected newline, expecting comma or }`

Great project!

Thanks.

[2020-04-01 08:38] curquiza commented on #14
Hello!
Thanks a lot for your PR!
We really want to provide great examples in the README, so your issue is surely helpful. I fix that now!

[2020-04-01 09:05] #14 closed

[2020-04-03 15:21] #11 closed

[2020-04-03 15:22] #7 closed

[2020-04-03 15:22] #4 closed

[2020-04-03 15:22] #10 closed

[2020-04-18 23:19] curquiza opened #16 "Add test for WaitForPendingUpdate method"
Even if this method is used in our tests, it's not concretely tested 🙂

We should add tests according to [this issue](https://github.com/meilisearch/integrations-guides/issues/1).

[2020-04-22 14:15] eskombro opened #18 "Test issue GO"

[2020-04-22 14:34] #18 closed

[2020-04-28 11:02] eskombro opened #19 "Add a link in the README to the integration guides"
Related to [this general issue](https://github.com/meilisearch/integration-guides/issues/7)

[2020-05-03 17:57] curquiza opened #22 "GetOrCreateIndex method"
Issue fully detailed [here](https://github.com/meilisearch/integration-guides/issues/2).

[2020-05-03 18:17] curquiza opened #23 "DeleteAllIndexes method"
Issue fully detailed [here](https://github.com/meilisearch/integration-guides/issues/11).

[2020-05-04 08:13] curquiza commented on #22
Closed since the client is divided into sub-clients that take an index themselves. The main client does not take any index.

[2020-05-04 08:14] #22 closed

[2020-05-04 21:50] eskombro opened #24 "Testing bug"

[2020-05-04 22:02] #24 closed

[2020-05-06 11:23] eskombro opened #25 "Test helPR"
Create issue, link a PR and automate labeling

[2020-05-06 11:29] #25 closed

[2020-05-06 11:33] eskombro opened #28 "Test helPR"

[2020-05-06 11:42] #28 closed

[2020-05-13 18:03] #19 closed

[2020-05-24 21:05] curquiza commented on #23
Close with [this discussion](https://github.com/meilisearch/integration-guides/issues/11#issuecomment-633298258).

[2020-05-24 21:05] #23 closed

[2020-05-27 13:08] bidoubiwa opened #32 "Create and fill sample file to display GO examples in MeiliSearch Documentation"
# Code Samples for MeiliSearch documentation

## Introduction
As MeiliSearch grows so does its SDK's.  More and more SDK's rises from the ground and they all deserve to be as well documented as the core engine itself.

The most common way for a user to understand MeiliSearch is to go to its official documentation. As of yesterday all examples in the documentation were made with `cURL`. Unfortunate

[2020-06-03 14:44] eskombro commented on #8
The docker image has the rm command, that is true. But there are still two valid arguments for this in my opinion:

- The tests are not always run with the shell script. You can use plugins to test automatically, or run test partially from console, etc... use different CI tools... so even if it is a good thing to create a docker container and test inside, and then delete the container, we shouldn'

[2020-06-11 01:38] eskombro commented on #6
Not offering a definitive solution, but you can always access this kind of elements you don't necessarily defined a structure for by doing a map on your item:

[code]

# output

[code]

Not beautiful, but works ;)

[2020-06-11 07:56] curquiza commented on #9
This issue is still there, I don't know how to fix that 😅 Please, help!

[2020-06-11 07:57] curquiza opened #40 "Tests with a master key"
Currently, the tests run with a MeiliSearch instance that does not provide any master key.

Can we launch a MeiliSearch instance with the option `--master-key=masterKey` to test this package? And for course, adapt the tests.

[2020-06-11 21:06] alexisvisco opened #43 "Use URL query parameter builder"
[This code ](https://github.com/meilisearch/meilisearch-go/blob/b6a24d611fe4ca61813d68b44792db6778105410/client.go#L173) is unsafe for the developer who is using the library.

Query parameters should be built with the URL type. (https://stackoverflow.com/a/30657518/5894301)

**Why is it unsafe ?**

Imagine the developer who is using the APIDocuments.List set AttributesToRetrieve to an input from a

[2020-06-12 00:20] eskombro commented on #43
Great thanks for checking this! It is indeed unsafe, and your solution is clearly an improvement!

[2020-06-14 15:31] deshetti opened #45 "Client.Timeout exceeded error when adding a few thousand documents to the index"
I am trying to add around 25K documents to the index and getting the following error when doing so.

[code]

When I use the functions, DefaultWaitForPendingUpdate or , I get the following error:

[code]

Here is how I am using the above in my code. I am new to both Golang and Meilisearch, excuse me if I am missing something simple.

[code]

Any help is greatly appreciated. Thanks.

[2020-06-15 07:34] #43 closed

[2020-06-15 07:39] alexisvisco commented on #45
There is a default timeout in the golang client, to index a bunch of documents you need to custom the timeout like that:

[code]

And pass it to this function https://github.com/meilisearch/meilisearch-go/blob/master/client.go#L47 (instead of using NewClient)

[2020-06-15 14:16] eskombro commented on #9
1. When you do `go get -u ...` you are telling your system to upgrade that module. But if you are working in some project directory, it will update it also as a dependency for the project you are working on. As you update your dependencies, it is normal that it changes your `go.mod` which has the requirements for your project, and your `go.sum` which contains hashes for the modules it depends on.

[2020-06-15 19:31] deshetti commented on #45
Thanks @alexisvisco, it worked.

[2020-06-15 19:31] #45 closed

[2020-06-16 01:52] eskombro opened #47 "A Go SDK Refactor?"
Every language has it's own specifics, its own rules and good practices. Go is clearly not an exception. But Maintaining several SDKs requires a lot of conciliation between those specific characteristics from one side, and the bigger project (MeiliSearch itself) integrations flow, logic  and structure.

This is why I consider it really important to try to find **as much coherence as possible betwe

[2020-06-16 13:47] curquiza commented on #47
I like this suggestion for the new Getting Started. Currently, it's not really convenient to repeat the index uid every time.

Currently:
[code]

With the changes:
[code]

[2020-06-17 08:39] alexisvisco commented on #47
The SDK was built with the separation of concerns as a pillar of the go code. It is true that repeating the index in each "client" is a pain, so I agree to change that.

Exposing all the methods in a single object (an index in your reflection example) is terrible from my point of view because there is no separation at all which leads to confusing the user while he's typing and looking for somethin

[2020-06-17 09:22] curquiza commented on #47
The next MeiliSearch version will contain 2 search routes: with GET, and with POST
Cf [this PR](https://github.com/meilisearch/MeiliSearch/pull/735).
I don't know how we are going to handle that in our SDKs, I need to check what Algolia is doing to help us take a decision, be we should keep that in mind 🙂

[2020-06-17 09:29] #8 closed

[2020-06-17 11:02] curquiza commented on #47
@alexisvisco

As a Ruby developer, I would rather write:
[code]
than
[code]

It does not mean the code does not contain any `Settings` class, but the user does not need to manipulate it, from my POV. I know it's subjective, so for me, both solutions are ok in terms of user experience.

I don't really like the user experience of elastic search SDKs, but I like the Stripe one.
But we should keep in

[2020-06-24 08:05] gnur commented on #47
Another thing to consider for a rewrite would be to adapt the way that [asdine/storm](https://github.com/asdine/storm) uses for casting to objects. The exposed methods right now are a bit awkward to use, because in one place to do allow casting (`client.Documents(index).List()`) but in other places (client.Search(index).Search()` there is a `[]interface{}` returned, which actually is a `[]map[stri

[2020-06-25 07:53] curquiza commented on #9
Thanks @eskombro! I can finally realize the package has linter errors on `master` now 😂!!!
Fixing that...

[2020-06-25 08:05] curquiza opened #51 "Tests failed on master"
[code]

[code]

## Tasks

- [x] Fix the code or the tests
- [ ] Why do the tests script returns `0` (= `SUCCEED`) when the tests fail? This should be fixed as well because it cannot currently be used like that in a CI

[2020-06-29 02:45] #9 closed

[2020-06-29 18:29] HelmutLety opened #53 "Get Total Number of hits for SearchResponse"
We don't get the Total Size of the Search Response, but we do get it as `nbHits` in the web-interface.
To fix that, could we add  :
_TotalHits    int64   `json:"nbHits"`_  to the struct `SearchResponse` in types.go?

[2020-06-30 02:00] eskombro commented on #53
Thanks @HelmutLety for your creating this issue, indeed, the `nbHits` sent in the MeiliSearch response for search was not included in the SearchResponse struct, so it is being ignored when the json gets unmarshalled. I'll make a quick fix for this!

[2020-06-30 02:12] #53 closed

[2020-06-30 02:13] eskombro commented on #53
This should be fixed now @HelmutLety, thanks and let us know if you have any other issue :)

[2020-06-30 03:28] eskombro opened #55 "client.List() parameters need to be optional"
Since the MeiliSearch HTTP server [changed from tide to atix](https://github.com/meilisearch/MeiliSearch/pull/601) they way it handles parameters that are empty has changed. As Go initializes every variable to a Default Zero value, when a parameter is not set to a value by the user, the Go SDK *will send the defult zero value to the server*. This leads to problems like #37

For the client `List` m

[2020-06-30 04:12] eskombro commented on #51
The problem with the specific tests that are failing shoulde be fixed with #56.
I'll do a PR on the tests CI

[2020-06-30 08:11] HelmutLety commented on #53
Thank you for the fast fix :)

[2020-06-30 08:34] #40 closed

[2020-06-30 08:34] #51 closed

[2020-06-30 08:43] #55 closed

[2020-07-09 14:45] mikemrm opened #62 "Using SearchRequest.FacetsDistribution creates invalid request"
Hello,

I'm running into an issue with adding `FacetsDistribution` to my `SearchRequest` object. It appears a change made recently is generating an invalid value.

I'm running go `1.13.6` on linux, pulling from master. Though it seems the following change has been implemented for all of `0.11.x`.

https://github.com/meilisearch/meilisearch-go/blob/e80b241566648d8da4a3608e28df548ccae4fba8/client_se

[2020-07-14 00:43] eskombro opened #63 "Remove sys-info routes"
As stated in https://github.com/meilisearch/MeiliSearch/pull/810 and https://github.com/meilisearch/integration-guides/issues/36 the sys-info routes will be considered as deprecated in MeiliSearch v0.13.0. These routes should be removed from this SDK accordingly.

[2020-07-14 00:43] eskombro opened #64 "Implement POST route in search method"
According to https://github.com/meilisearch/integration-guides/issues/37, and after [this decision](https://github.com/meilisearch/integration-guides/issues/37#issuecomment-652935842), search method should always use the `POST` search route. The `GET` search route will be considered deprecated in this SDK.

[2020-07-21 21:16] eskombro opened #69 "Implement placeholder search and tests"
As in meilisearch/MeiliSearch#771 search query is now optional. If no query is sent, placeholder search is triggered, letting the user get some default results provided by MeiliSearch.

[2020-07-21 23:12] eskombro opened #72 "Update settings following the settings behavior changes on MeiliSearch"
Following https://github.com/meilisearch/MeiliSearch/issues/824

- acceptNewFields is removed

⚠️ Tests will not pass until v0.13.0 of MeiliSearch is released

[2020-07-29 13:50] bidoubiwa opened #75 "Missing code samples."
An update has been made on the [code-samples](https://github.com/meilisearch/documentation/tree/master/.vuepress/code-samples) list of samples.

The following samples are missing from this repository `.code-samples.meilisearch.yaml`
[code]

To know what we expect from these specific samples, please visit the `cURL` [sample file](https://github.com/meilisearch/documentation/blob/master/.code-sample

[2020-08-20 14:32] curquiza commented on #63
Closes with #65

[2020-08-20 14:32] #63 closed

[2020-08-20 14:34] curquiza commented on #64
Closed with #74

[2020-08-20 14:34] #64 closed

[2020-08-20 14:51] curquiza commented on #72
Closed with #73

[2020-08-20 14:51] #72 closed

[2020-08-20 14:51] curquiza commented on #69
Closed with #71

[2020-08-20 14:51] #69 closed

[2020-09-02 18:06] hi019 opened #77 "Searchable Attributes not persisting"
Hi, I'm having an issue with `UpdateSearchableAttributes` not saving after a document insert. To reproduce:
1. Create new directory, then run `go mod init` and `go get github.com/meilisearch/meilisearch-go`
2. Paste code below
3. Start Meilisearch
4. `go run main.go`, you should see `[Name]` printed. That is the searchable attribute.
5. Comment out line 42 (`createIndex()` in main)  and run again

[2020-09-04 03:27] hi019 commented on #77
Related? meilisearch/MeiliSearch/issues/942

[2020-09-07 06:53] curquiza commented on #77
Hello @hi019!

I was able to reproduce your issue with MeiliSearch v0.14.0 by only using `curl` and the MeiliSearch API.
It's indeed related to this issue you mentioned! 🙂

Thanks for the report, I close this issue in favor of meilisearch/MeiliSearch/issues/942

[2020-09-07 06:53] #77 closed

[2020-09-12 21:25] rabelais88 opened #78 "Getting weird JSON error while creating a document"
I see a weird JSON error when adding a document to Meilisearch server. This may not be a bug, and is probably caused by wrong usage, but I couldn't find any useful troubleshooting documents for this.
[code]

no matter how I construct `map[string]interface{}` I keep seeing `Invalid JSON` error message.

[code]

[2020-09-14 08:50] rabelais88 commented on #78
It seems I have to provide `[]map[string]interface{}` not `map[string]interface{}` even for a single document. I should have read the document more carefully.

[2020-09-14 08:50] #78 closed

[2020-09-28 09:15] #32 closed

[2020-09-28 09:15] #75 closed

[2020-09-28 19:32] eskombro commented on #62
This issue has been solved some time ago, I forgot to close it! Don't hesitate to reopen if any other problem comes up!

[2020-09-28 19:32] #62 closed

[2020-10-14 13:20] eskombro opened #82 "Implement dumps (add tests and code samples)"
Since [v0.15.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.15.0), MeiliSearch exposes a new functionality: [dumps](https://docs.meilisearch.com/references/dump.html#dumps)

This feature should be implemented in this SDK following [this specificacions](https://github.com/meilisearch/integration-guides/issues/44)

- [x] Implement dump creation route
- [x] Implement get dump status ro

[2020-10-23 21:37] senyast4745 opened #86 "Make sdk faster"
As I think **http/client** is a rather slow library. I would like to use something faster as the httpclient, for example the [fasthttpclient](https://github.com/valyala/fasthttp). It also probably makes sense to add methods for sending requests with a raw body ([] byte). I can take it on myself

[2020-10-26 11:13] eskombro commented on #86
Hi @senyast4745!

Thanks a lot, this would be a very great improvement, benchmarks seem promising! 🎉

[2020-10-28 15:18] senyast4745 commented on #86
Hi @eskombro!
Thank you very much for your reply. Then can you assign this issue?

[2020-10-28 15:33] curquiza commented on #86
done @senyast4745 😉

[2020-10-28 15:35] senyast4745 commented on #86
Thanks. Only I had a problem. FastHttp is not compatible with standard http / client and this required some pretty drastic changes in the sdk design. I also used easyjson and fastjson to speed up serialization / deserialization, which also led to quite strong changes in the API

[2020-10-28 15:37] senyast4745 commented on #86
@curquiza  Oops. I accidentally pressed the unassign button. Could you assign me again?

[2020-11-02 14:39] #86 closed

[2020-11-02 14:59] eskombro opened #90 "Document how to update EasyJson file in CONTRIBUTING.md"
#88 introduced [EasyJson](https://github.com/mailru/easyjson) to this repo. It autogenerates a file `types_easyjson.go` by using the command

[code]

This should be documented in the CONTRIBUTING.md

More info at https://github.com/mailru/easyjson#usage

[2020-11-02 15:02] eskombro commented on #90
@senyast4745 Would you be up for this maybe? :)

[2020-11-02 15:29] senyast4745 commented on #90
@eskombro The correct command with which I generated the easyjson file is as follows.

[code]

[2020-11-02 15:37] senyast4745 opened #91 "Moving tests to testify and testcontainers"
Translating tests to [testify](https://github.com/stretchr/testify) and [testcontainers](https://golang.testcontainers.org/).

[Testify](https://github.com/stretchr/testify) will allow you to write unit tests and is also very convenient if you need to set up an environment. This is a very good JUnit counterpart for Golang. [Testcontainers](https://golang.testcontainers.org/) will allow us to raise

[2020-11-02 16:18] eskombro commented on #90
Sorry, my bad! Fixed in the description 🚀

[2020-11-02 16:24] senyast4745 commented on #90
@eskombro can you document it in into **CONTRIBUTING.md**?

[2020-11-02 16:25] senyast4745 commented on #90
Or if you want I can do it

[2020-11-02 16:25] senyast4745 commented on #90
I think it's no so hard issue))

[2020-11-02 16:54] eskombro commented on #90
Of course, it isn't hard 😉 I created this issue so we don't forget to do it !
I wanted to ask you as you introduced it, maybe you would prefer to document it! But I can do it quickly :)

[2020-11-02 17:11] eskombro commented on #90
Can you check it out @senyast4745 ? Thanks !

[2020-11-02 19:01] senyast4745 commented on #91
@eskombro @curquiza what are you thinking about this improvement?

[2020-11-02 21:33] #90 closed

[2020-11-02 21:46] eskombro commented on #91
I've been checking `Testify` and it seems to add a nice functionality without adding any complexity. Also it seems to be quite active and stable, and well supported, so I think it would be a great add! 👍

`Testcontainers`, I am not 100% sure about how intersting it would be to us, because we just need to run a simple container with the same config every time for testing. And we handle it different

[2020-11-03 14:02] senyast4745 commented on #91
@eskombro Hey. About testify + testcontainers. With the help of testify.suite, it will be possible not to delete the indexes in meilisearch every time after tests, but simply to recreate the container so that we can be sure that meilisearch is empty and the tests were definitely correct

[2020-11-03 15:35] eskombro commented on #91
I think that clearly `Testify` would make way cleaner tests than what we have right now! 🎉

Feel free to start working on it if you feel like it :)

[2020-11-03 15:38] senyast4745 commented on #91
@eskombro Beautiful!! 🎉
Can you assign this issue to me?

[2020-11-03 22:03] eskombro commented on #91
After a misclick, you are assigned @senyast4745 🎉

Thanks!

[2020-11-05 00:57] lacroixsteven opened #95 "Module name changed from meilisearch/meilisearch to senyast4745/meilisearch"
Hello, I can't import this module. It looks like the module name was change from meilisearch/meilisearch to senyast4745/meilisearch

`
go: github.com/meilisearch/meilisearch-go: github.com/meilisearch/meilisearch-go@v0.13.0: parsing go.mod:
        module declares its path as: github.com/senyast4745/meilisearch-go
                but was required as: github.com/meilisearch/meilisearch-go
`

Thanks

[2020-11-05 08:59] curquiza commented on #95
Hello @lacroixsteven!
Thanks for this report! I created a PR. It will be merged today and also I will create a new release today!
Sorry about this!

[2020-11-05 10:22] #95 closed

[2020-11-05 10:28] curquiza commented on #95
The v0.13.1 is out 🙂

[2020-11-05 13:52] eskombro opened #98 "Add CI tests on different go versions"
As for now, `go.mod` defines go version to `1.12`. But the CI can test if this builds and runs on different versions in a very simple way, by using an Strategy Matrix in GitHub Actions:

[code]

This should be tested in https://github.com/meilisearch/meilisearch-go/blob/master/.github/workflows/go.yml

[2020-11-05 16:35] #98 closed

[2020-11-09 14:26] inluxc opened #100 "AddOrUpdate API error"
When i update products with the following code;

[code]
same times I get the following error? could it be load?

[code]

[2020-11-09 14:45] eskombro commented on #100
Hi @inluxc,

Do you get this error only when trying to use `AddOrUpdate`, but otherwise calls to MeiliSearch engine work? like index creation, or getting documents? Is the request shown in the MeilISearch logs?

[2020-11-10 09:52] eskombro commented on #100
@inluxc it is quite hard to understand where the problem is comming from, since your communication with the MeiliSearch instance seems ok and the method is tested.

There has been recent change which introduced a new http client (fasthttp) and I don't know if this introduced some bug. Would you be kind enough to test this?

1. Go to the place where the meilisearch-go library is installed (normally

[2020-11-12 22:27] senyast4745 commented on #100
@inluxc Hello! This error may be due to the fact that your fasthttp client has a too low read timeout. Try to create your own copy of the fastNTTP client and increase its time...

[2020-11-12 22:29] senyast4745 commented on #91
@eskombro I will deal with this problem a little later. There is a lot of work so far. Hopefully this issue can wait. Thank you for understanding)

[2020-11-17 00:50] eskombro commented on #91
Thanks @senyast4745 , no problem at all, this is not urgent, it can wait until you get some time! 👍

[2020-11-21 12:36] dev117uday opened #104 "Typo in documentation"
on the page of Quick start guide, in the create your index section, under the Go tab

[Quick Start Guide | Create your index](https://docs.meilisearch.com/guides/introduction/quick_start_guide.html#create-your-index)

in the third square box, the example given contains
[code]

it should be a `.` and not `/`

[code]

[2020-11-21 17:32] eskombro commented on #104
Well spotted, thanks!

[2020-11-21 18:04] #104 closed

[2020-11-27 13:44] kokizzu opened #108 "Need synchronous API or at least give what's the sent request on /indexes/[table]/updates"
Not printing the the requested json makes it harder to debug (I'm using go client btw)

already sent this:
[code]
but still got
[code]
apparently I was wrongly set the primary key in the past (because I was calling `.Documents(space).AddOrReplaceWithPrimaryKey(row, row.Id)`) -- because I thought the 3rd parameter is ID of that specific document instead of the primary key column name.
[code]
so I h

[2020-11-27 19:44] eskombro commented on #108
HEy @kokizzu

So sad to see that you got blocked with this, but I am not sure of what is the solution you are actually proposing. Can you please make it a little bit more detailed?

Thanks!

[2020-11-27 20:43] kokizzu commented on #108
either:
1. ability to replace `primaryKey` if there's no records yet
2. more detailed information about requested json string in the `/indexes/[table]/updates`
3. add synchronous API for `addOrReplace`

[2020-11-30 09:39] eskombro commented on #108
1. If you have set a `primary key` and made an HTTP call to MeiliSearch, it won't be possible to update it. This is not something that can be handled at an SDK level, it's how the core of MeiliSearch works. Nonetheless, there are two things that come to mind:

- The latest MeiliSearch version introduces an `implicit index creation` feature that will modify the way SDK's are implemented (you can se

[2020-11-30 09:50] kokizzu commented on #108
ah not done yet ic..
![image](https://user-images.githubusercontent.com/1061610/100594239-01666f00-332c-11eb-9c0e-0aa67f421777.png)
https://github.com/meilisearch/integration-guides/issues/1

2. the information missing is the sent json, eg.
if i send invalid json `[{"notThePrimaryKey":"foo","otherFields":"otherFieldValue"}]`, it should be there just for debugging reason

[2020-11-30 09:54] eskombro commented on #108
If you are referring to `waitForPendingUpdate` method, it works pretty well, this issue means that there are no integration tests for it, and we would like to add some to make it reliable, but it has been used in several projects with the expected behavior, so it is totally available if you want to use it.

[2020-11-30 09:59] kokizzu commented on #108
but there's no such method in https://github.com/meilisearch/meilisearch-go/blob/master/apis.go

[2020-11-30 13:37] eskombro commented on #108
https://github.com/meilisearch/meilisearch-go/blob/8a213401a0c634e8f024fc824422601bc18ad430/client.go#L299

[2020-12-21 11:17] curquiza commented on #108
Closing this issue then, feel free to re-open if needed.

[2020-12-21 11:17] #108 closed

[2020-12-21 11:18] curquiza commented on #100
Hello @inluxc, is this still an issue?

[2020-12-21 21:10] inluxc commented on #100
Boo, I will close for now. If I have the error again I will get in touch

[2020-12-21 21:10] #100 closed

[2020-12-27 05:43] iredmail opened #113 "unable to execute request: write: broken pipe"
Dear all,

I frequently got this error while adding document, any idea how to get detailed error? Is it caused by MeiliSearch server? Or the Go SDK?

[2020-12-29 20:44] eskombro commented on #113
Hello @iredmail !

I haven't seen this problem before. Could you please tell us some steps to reproduce it? In which environment i syour MeiliSearch instance running?

Thanks for the info!

[2020-12-30 11:59] iredmail commented on #113
Hi @eskombro,

Thanks for the reply.

- It's a 1 GB RAM (Linode) VPS for internal testing. It's a Ubuntu 20.04 box, runs MySQL (~= 30MB RAM), MeiliSearch (~= 290MB RAM), and 2 of our Golang programs (~= 15MB RAM each).
- Our Golang programs accepts and parse emails, then store parsed data in MeiliSearch.
- We generate ~= 20 emails per minute for testing, usually one of 10 may raises the error, ran

[2020-12-30 12:15] eskombro commented on #113
Hey @iredmail

Thanks for the info. I don't really know where this issue is coming from, but I am thinking that this could probably be related to the fasthttp client (we are using it since #88) dropping the connection. Do you have any Timeout error before the broken pipe?

If you have a moment, @senyast4745 can you see if you have any idea of what could be the problem?

[2020-12-30 12:22] iredmail commented on #113
Hi @eskombro

Will try version 0.12.1 and reply shortly. Thanks for helping.

[2020-12-30 12:26] senyast4745 commented on #113
Hello @iredmail , @eskombro.
If you don't mind, I can think about what happens in the evening

[2020-12-30 12:27] iredmail commented on #113
Hi @senyast4745

Yes i need some help. Thanks for helping. :)

[2020-12-30 12:29] senyast4745 commented on #113
Hi, @iredmail

You can try to use your own fasthttp client, having previously eluded read \ write timeout from it.

[2020-12-30 12:29] senyast4745 commented on #113
@eskombro Perhaps we should start a task to add timeout configurations for our client

[2020-12-30 13:21] iredmail commented on #113
I tried custom fasthttp client, but it didn't fix my issue. Maybe i didn't use correct settings?

[code]

[2020-12-30 14:46] iredmail commented on #113
Tried 0.12.1, no more errors. WOW

[2020-12-30 15:09] eskombro commented on #113
Ok, so I think this confirms that it is related to fasthttp but we will have to go a little deeper.

So that would be amazing, thanks a lot :)

I would try using a bigger `MaxIdleConnDuration` since the connection is probably being dropped immediately as you set it to 0, cf: https://github.com/valyala/fasthttp/blob/master/client.go#L215-L219

[2020-12-30 15:15] iredmail commented on #113
Dropping connection is on purpose (for testing).
I tried set `MaxIdleConnDuration` to 60 seconds before i tried 0.12.1, same error.

[2021-01-04 10:30] iredmail commented on #113
Any update on the fix? :)

[2021-01-04 12:11] senyast4745 commented on #113
Hello everyone. I'm still out of town, so as soon as I get to the computer, I will definitely try to solve this problem.

[2021-01-06 16:55] fharper opened #116 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:55] fharper opened #118 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-12 17:16] senyast4745 commented on #113
@iredmail hello, can we go to the messenger, for example telegrams, so that I can respond more quickly and understand your problem in more detail?

[2021-01-12 17:20] eskombro commented on #113
Hey @senyast4745 and @iredmail

I would be interested in where this is coming from if you happen to find an explanation solution :)

Also, if you want MeilISearch Community Slack has a channel dedicated to Go SDK. If you feel comfortable with this, maybe it will be useful for another people to know what happens, so I invite you [here](https://meilicommunity.slack.com/)

[2021-01-12 17:58] senyast4745 commented on #113
@eskombro cool! May be you can create channel to discuss this issue?

[2021-01-13 00:16] iredmail commented on #113
Yes I’m available on telegram: the account name is @iredmail

[2021-01-13 01:47] eskombro commented on #113
It exists there already: https://meilicommunity.slack.com/archives/C01HCD33ZNK

[2021-01-13 01:57] iredmail commented on #113
But I don’t use Slack. Also we already have this issue tracker for discussion, i don’t know why we need so many ways for communication.

To reproduce the issue, just run a simple client and perform some AddOrUpdateDocument operations in short period, e.g. 20 http requests in one minute. That’s all. If it doesn’t occur, try to request more in one minute.

The issue disappears if I switched to versi

[2021-01-13 02:19] eskombro commented on #113
@iredmail

Sure, this issue is more than enough to track the problem!

I wanted also to invite you both to this Slack channel if you ever want to discuss anything about the SDK :)

[2021-01-13 10:56] senyast4745 commented on #113
@iredmail ok i' ll try to reproduce your problem.

[2021-01-14 14:47] curquiza opened #121 "Upgrade go version"
Following https://github.com/meilisearch/meilisearch-go/pull/120#issuecomment-760233179

[2021-01-14 14:58] eskombro commented on #121
NOTE: Update CI

[2021-01-14 16:39] #121 closed

[2021-01-18 22:32] #118 closed

[2021-02-02 15:13] iredmail commented on #113
Dear all,

Any update?

[2021-02-11 14:38] #116 closed

[2021-02-16 20:19] senyast4745 commented on #113
Hi, @iredmail
I just ran tests. I was able to send 100 AddOrUpdate requests in 0.7 seconds, so I couldn't find your problem. Launched on Macbook 16 GB

[2021-02-16 20:21] senyast4745 commented on #113
My test

[code]

[2021-02-17 00:41] eskombro commented on #113
Thanks for your check @senyast4745, I couldn't reproduce it either

[2021-02-17 00:45] iredmail commented on #113
Please try to run Meilisearch on a 1GB RAM virtual machine, then test again.

[2021-02-18 15:17] curquiza commented on #113
That's really weird, it looks like a MeiliSearch issue instead of the client issue.
MeiliSearch (and it's a known issue) cannot index a lot of documents in a small machine. 1GB might be not enough...
The core team is currently working on this issue by improving the current engine.
But it's still weird because you say you can use the go client v0.12.1 without any bug on this small machine...

[2021-02-18 16:05] iredmail commented on #113
About the "engine", I have another "issue" with MeiliSearch: https://github.com/meilisearch/MeiliSearch/issues/1149

As @eskombro mentioned in [his reply](https://github.com/meilisearch/MeiliSearch/issues/1149#issuecomment-763498516), MeiliSearch requires "the same amount of RAM as the size the database takes on disk", this is too bad that i cannot use MeiliSearch as FTS for email archiving.

Is

[2021-02-18 16:23] aaqibjavith opened #136 "Migrating 40M records from Postgres to Meilisearch takes too long"
I am trying to migrate 40M Postgres records (user comments) to Melisearch. Each time, I  am querying 10K records from Postgres and writing to Meilisearch. The migration script has been completed. But it has been more than 3 days, only 4.2 Million records only migrated. The count is increasing very slowly.

I also see the following error messages in the error log:

[code]

Also, I tried to get upda

[2021-02-18 16:26] #136 closed

[2021-02-18 17:12] curquiza commented on #113
Yes the new core-engine will be way more performant.

[2021-02-22 11:25] senyast4745 commented on #113
It seems to me that the problem is that the v0.12.1 client also dropped out, just did it quietly.
@iredmail  Are you sure that all requests that you send work correctly on version v0.12.1

[2021-02-22 11:26] iredmail commented on #113
Yes.

[2021-03-16 09:59] claudiunicolaa commented on #82
hi @eskombro

is there anything more to do on this issue? happy to add if smth needed.

[2021-03-16 13:44] eskombro commented on #82
Thanks @claudiunicolaa

All work is done here, we forgot to close, but routes are implemented, tests and samples are done!

[2021-03-16 13:44] #82 closed

[2021-03-29 16:06] kokizzu commented on #108
or at least, the minimum, no need to wait indexing to complete, but return error if the input json is invalid

[2021-05-25 15:22] curquiza commented on #47
I'm closing this old issue.
The MeiliSearch team has discussed it, and we want to change the usage of this package to make it more consistent with this other package. The consistency between SDKs is not important but we like rather the other SDK usage than the current one for our users 🙂
@alallema who joined Meili will open issues and PRs related to these new changes.

[2021-05-25 15:22] #47 closed

[2021-05-26 09:36] alallema opened #148 "Change the usage"
## Description
In the continuity of this [discussion](#47). The Meilisearch Teams has decided to try to bring documentation, logic, and structure of this SDK closer to the others to be more developer-friendly and to have a usage that seems to us more pleasant and more accessible.

## Steps

### Changing the usage

[code]

### Restructure the file hierarchies
New package structure inspired by what

[2021-05-26 12:39] alallema opened #149 "A basic error handler"
Create a basic error handler, with these 3 custom errors:
- `MeiliSearchApiError`
- `MeiliSearchCommunicationError`
- `MeiliSearchTimeoutError`

MeiliSearch API has an error handler, and returns this kind of JSON when an error is found:

[code]
The complete list of errorCode is available in the [documentation](https://docs.meilisearch.com/errors)

It could be great to let the user access `message`

[2021-06-04 17:23] lewisreay commented on #149
👋 @alallema I can work on this if you want?

[2021-06-07 08:39] alallema commented on #149
Hi @lewisreay !
Thanks a lot for this proposition. For now, I'm working on a big refactor of the code and I think this issue will probably be done internally.
However, don't worry there will be new issues available soon. Thanks again for your support.

[2021-06-07 08:47] lewisreay commented on #149
No problem, thanks, @alallema! Looking forward to the new engine and refactor.

[2021-06-08 08:46] alallema commented on #6
Checked with @curquiza. Closing since a workaround was given. Feel free to re-open if needed

[2021-06-08 08:46] #6 closed

[2021-06-15 09:43] curquiza commented on #149
@alallema, in the GetOrCreateIndex method, you must check the error is `index_not_found` once the error handler is implemented 😄

[2021-06-15 16:14] alallema opened #154 "Moving test to testify"
**Description**
Moving tests to testify.
As proposed by a contributor using `Testify` that provides many tools and will allow writing unit tests.

**Related issue**
https://github.com/meilisearch/meilisearch-go/issues/91

[2021-06-17 13:50] alallema commented on #91
I closed this issue see with @eskombro. I created this #154 issue for `Testify`.
@senyast4745 don't hesitate to reopen it!

[2021-06-17 13:50] #91 closed

[2021-06-17 17:18] fr3fou opened #155 "Wrong accepted status code on `/health` (Health() method)"
**Description**
The `Health()` method expects an `HTTP 204 No Content` status code:
![image](https://user-images.githubusercontent.com/1344906/122443835-9ff4ad80-cfa8-11eb-9e56-1b08aae29b8b.png)
This is not correct, as the docs state that it returns `HTTP 200 OK`:
![image](https://user-images.githubusercontent.com/1344906/122443920-b569d780-cfa8-11eb-9cf2-249be1edbc2c.png)

**Expected behavior**
I

[2021-06-17 19:25] alallema commented on #155
Hi @fr3fou!
You right thank for the report. We are currently working on a refactor where this issue is fixed.
I will linked your issue to the PR.

[2021-06-22 13:24] #16 closed

[2021-06-22 13:24] #148 closed

[2021-06-22 13:24] #154 closed

[2021-06-22 13:24] #155 closed

[2021-06-24 04:01] yanmengfei opened #159 "文档example和最新版本不一致"

[2021-06-24 07:32] alallema commented on #159
@yanmengfei !
Yes, the release wasn't published yet, sorry for the convenience I will do it soon.

[2021-06-24 10:14] yanmengfei commented on #159
It's OK. I learned your code and found a way to use it

[2021-06-24 12:30] #159 closed

[2021-06-28 12:46] alallema opened #160 "Bad naming MasterKey"
**Description**
Renamed MasterKey in ApiKey in Config struct for client

[2021-06-28 14:30] alallema opened #161 "Add timeout in client"
**Description**
Adding the possibility of declaring a timeout in the client.
Perform all the requests and wait for a response during the given timeout duration.
ErrTimeout is returned if the response wasn't returned during the given timeout.

**Basic example**
[code]

[2021-06-29 08:33] #149 closed

[2021-06-29 08:33] #161 closed

[2021-06-29 13:20] #160 closed

[2021-07-05 12:05] bidoubiwa opened #173 "Broken code samples yaml file"
**Description**

`.code-samples.meilisearch.yaml` is badly formated

**Expected behavior**
Not badly formated

**Current behavior**
[code]

[2021-07-05 12:54] #173 closed

[2021-07-27 14:23] alallema opened #185 "Fix linter"
**Description**
Even if the linter fails in the CI, the test passes

**Expected behavior**
Failed if errors are reported

**Current behavior**
Don't fail but errors are reported in Actions logs

[2021-07-29 13:11] alallema opened #186 "Change and Fix the Linter"
**Description**
The actual linter [golint](https://github.com/golang/lint) of this repo has been deprecated see the reasons explain [here](https://github.com/golang/go/issues/38968).
I suggest that we find a new linter:
- [golangci-lint](https://golangci-lint.run/usage/quick-start)

And maybe a style checks like:
- [statis check](https://staticcheck.io/)
- [go vet](https://pkg.go.dev/cmd/vet)

I w

[2021-07-29 13:11] #185 closed

[2021-07-29 13:32] curquiza commented on #185
Closed in favoir of #186

[2021-08-03 08:08] alallema commented on #113
I'm closing this issue because it is outdated. Feel free to reopen it if you need it.

[2021-08-03 08:08] #113 closed

[2021-08-05 19:50] Pacerino commented on #113
Are there any updates?
I've been desperately trying to fix the error for hours. I am transferring all data from MySql to Meilisearch, but every few seconds I get the error message... It is frustrating.

[2021-08-09 08:32] curquiza commented on #113
Hello @Pacerino!

Do you receive the exact same error message, I mean a broken pipe error? If yes, can you detail the exact steps you did, providing your dataset and your code if possible?

The problem here is we did not succeed to reproduce this error, so it's impossible to fix it. Your feedback could be really helpful.

If you do not get the exact same error message, please open another issue wi

[2021-08-11 10:06] curquiza opened #188 "Fix local test"
Locally, the health test fails. We need to make it less precise to make it pass both on Linux and MacOs since the failure is not related to a dysfunctionality of the package neither of MeiliSearch

[2021-08-11 15:46] curquiza commented on #113
Thanks a lot for your detailed explanation @Pacerino!

It looks like your issue comes from MeiliSearch and not from this package specifically...

I can understand you don't have the time to check these two alternatives to your workaround, but I write it, it can help other people:
- MeiliSearch can accept big payloads (100Mb by default and [you can increase this value](https://docs.meilisearch.com/

[2021-08-11 23:28] Pacerino commented on #113
Hey @curquiza ,

Sorry for the late feedback!
The solutions that you have brought I already have tested. Unfortunately it brings nothing.

- My payload was at 1GB. The error still occurred.
- The server has 32GB of RAM and 6 cores. Meilisearch had the possibility to use the whole RAM and cores. Without success.

As I said before, the only option is to check if the data has already been indexed or

[2021-08-12 11:40] curquiza commented on #113
Ok @Pacerino, good to know, thank you! :)

We did a huge refactor of MeiliSearch in v0.21.0. The core engine is not the same as the one in v0.20.0. It's really complicated for us to identify your issue right now, but maybe v0.21.0 has fixed this problem thanks to our refactor.

`meilisearch-go` is not yet compatible with v0.21.0 since the stable version of v0.21.0 is not out. I'll let you know her

[2021-08-12 12:21] iredmail commented on #113
@curquiza I know MeiliSearch uses LMDB, but any plan to support data larger than memory size? e.g. 100GB data on a machine with 8 GB memory.

[2021-08-12 12:59] curquiza commented on #113
We improved the RAM consumption with v0.21.0 and we keep working on improving the indexer for v0.22.0. Currently, we still have crashes if we use too much memory, but this might be fixed in the future (v0.22.0 or v0.23.0, so August or September).
So, 8GB of RAM for a dataset of 100GB will take a lot of time to index, but it should work.

[2021-08-24 14:03] curquiza commented on #113
Hello! [v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0) is now out! :)

[2021-08-31 19:17] mmachatschek commented on #188
@curquiza are we talking about e.g. the "no such host" DNS error that happens locally but not in CI for the test `TestClient_Health/TestHealthWithBadUrl`?

[2021-08-31 19:38] curquiza commented on #188
Exactly! :)

[2021-09-01 08:13] #186 closed

[2021-09-15 09:17] #188 closed

[2021-10-06 08:59] alallema opened #198 "Make the tests less exhaustive on error messages"
**Description**
During the release the tests break too often because they are too exhaustive on useless parameters.

**Current behavior**
The current test checks all the error like:
[code]

**Expected behavior**
It would be great to check only the `MeilisearchApiMessage`.

[2021-10-06 10:52] PaulKovalov commented on #198
I can take this one. Please assign it to me

[2021-10-06 12:05] alallema commented on #198
You are assigned!

[2021-10-06 12:10] curquiza commented on #198
@alallema @PaulKovalov
Not the `MeilisearchApiMessage` but only `ErrorCode` in `MeilisearchApiMessage`

[2021-10-06 12:19] PaulKovalov commented on #198
Thank you!

[2021-10-06 12:58] PaulKovalov commented on #198
Or we can even use them together. go-cmp doesn't have assertions.

[2021-10-06 13:04] alallema commented on #198
Hi @PaulKovalov,
I hesitated too and finally opted for `testify`. I think that two libraries are maybe too much just for the tests.
But for the case we are interested in, we should just check as curquiza said just the `ErrorCode` field.
See if you can without too many problems otherwise we could indeed think to add it

[2021-10-06 13:17] curquiza opened #199 "Change `books` to `movies` in README.md"
To keep the getting started simple to try, but to also make [documentation](https://docs.meilisearch.com) examples compatible with the getting started, we are replacing `book` examples with `movies` examples.

The Movie dataset is used throughout the documentation. The only place where book is used is in the tests (which can stay as it is) and in our getting started.

### Changes

- [ ] Index name

[2021-10-06 13:38] curquiza opened #201 "Method to get all the indexes should return a list of instance"
Currently, the `get_all_indexes` method returns a raw list of object, but not a list of `Index` instance. This is the only index-related method that does not return an `Index` instance.

An instance is more convenient to manipulate than a raw object. See this [example](https://github.com/meilisearch/meilisearch-python/issues/258#issuecomment-835866135).

TODO

- [ ] Change the return of the curren

[2021-10-06 13:54] curquiza opened #202 "Add a method to delete the index only if it already exists"
Trying to delete an index that does not exist on the MeiliSearch server will throw an error. To delete it without any error no matter what if it exists or not, we need a new method.

- [ ] Add a method `delete_index_if_exists`: it deletes the index but does not throw any error if the index does not exist.
- [ ] Add tests

Example: https://github.com/meilisearch/meilisearch-python/pull/268/files

⚠

[2021-10-06 13:56] zinovik commented on #199
I have worked on it here: https://github.com/meilisearch/meilisearch-go/pull/203
Could you check?

[2021-10-06 14:05] curquiza opened #204 "Add methods to automatically add/update documents in batches"
We need methods to add and update the documents of MeiliSearch in batch instead of letting the users call `addDocuments` in a loop.

- [ ] Add `addDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add `updateDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add tests

Example: https://github.com/meilisearch/meilisearch-pytho

[2021-10-06 14:21] curquiza opened #205 "Test `filter` in search method with a value containing spaces"
Add a test to check the `filter` parameter can work with values containing spaces

Example:
[code]

Related to https://github.com/meilisearch/integration-guides/issues/30

[2021-10-06 14:50] kashifsoofi commented on #202
Can I take this please

[2021-10-06 14:51] alallema commented on #202
Of course, I assigned you

[2021-10-06 16:11] #202 closed

[2021-10-06 16:12] #199 closed

[2021-10-06 20:36] kashifsoofi commented on #201
Can I please work on this?

[2021-10-06 21:45] curquiza commented on #201
Please go @kashifsoofi :)

[2021-10-07 20:21] alallema commented on #201
Yes you right, but you can still implemented the `get_all_raw_indexes` if you want

[2021-10-08 03:17] krishnaindani commented on #204
@curquiza could I take a look at this?

[2021-10-08 19:46] alallema commented on #204
Hi @krishnaindani,
We don't want to assign people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://github.com/meilisearch/meilisearch-js/blob/main/CON

[2021-10-08 20:36] krishnaindani commented on #204
I will start working on it.

[2021-10-10 18:16] curquiza opened #209 "Add `updatedAt` and `createdAt` to `Index`"
When manipulating indexes (get/create/update), the MeiliSearch server returns the following information related to the index:
- `uid`: the uid of the index
- `primaryKey`: the primary key of the index
- `updateAt`: when the index has been updated
- `createdAt`: when the index has been created

This SDK, when manipulating indexes (get/create/update) returns an instance of `Index` which already cont

[2021-10-10 18:41] curquiza opened #210 "Add method to get the raw index information"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2021-10-11 08:56] #201 closed

[2021-10-11 12:33] alallema commented on #209
Hi @kashifsoofi,
You're right the two fields already exist but It seems they aren't well updated and the tests are missing too.

[2021-10-12 03:02] ratogabriel commented on #210
Hi, can I take that?

[2021-10-14 13:45] misaelvillaverde opened #214 "Smaller batches cause some documents to be lost"
When I send in batches of 1000 concurrently, it seems to lost some of the documents in the process, but sending all the documents at once (for this example 3413) it doesn't lose any.

![image](https://user-images.githubusercontent.com/30275501/137328400-2f399b5c-232f-437d-9dea-c9cd9af15cf7.png)
## after (1000 by 1000):
![image](https://user-images.githubusercontent.com/30275501/137328667-e1bd06dd-

[2021-10-14 17:33] MisaelVillaverde commented on #214
Hi @alallema, thanks for your response
After loading the documents to a csv file, and analizing the data, it show that there are some repeated id's between batches, so the problem is in the cutting of my batches as you said in the second option, I'll be trying to figure out why it's happening, thank you and sorry for taking your time.

[2021-10-14 17:37] #214 closed, assigned to nobody

[2021-10-14 20:46] alallema commented on #214
@MisaelVillaverde No problem. Good to know it is ok! Don't hesitate if you have any trouble.

[2021-10-18 08:16] Joel-Nickson commented on #210
Is there anything I could do to help?

[2021-10-18 09:36] Joel-Nickson commented on #210
I was reading the docs and going through the code in go and other languages to understand the code a little deep for the last few days.
But reading the entire thing would be a waste of time for a minor upgrade.

So if someone could tell me which files to modify and what to add in them, it would save a lot of time of mine.

[2021-10-18 15:43] alallema commented on #210
You don't have to run Meilisearch with docker if you are not comfortable with it. You can just download it and launch it [see](https://docs.meilisearch.com/learn/getting_started/installation.html#download-and-launch)
The tests should be passed you don't need permission. Tell me if it works better.
The difference between the `GetAllIndexes` and the  `GetAllRawIndexes` method is that the first one r

[2021-10-19 13:27] curquiza opened #215 "NDJSON/CSV methods to add and update documents"
⚠️ This issue is generated, it means the nameing might be done differently in this package (ex: `add_documents_json` instead of `addDocumentsJson`). Keep the already existing way of naming in this package to stay idiomatic with the language and this repository.

📣 We strongly recommend doing multiple PRs to solve all the points of this issue

[MeiliSearch v0.23.0](https://github.com/meilisearch/Me

[2021-10-19 16:07] curquiza opened #216 "Add a search example with `filter` in README"
⚠️ This issue is generated, please adapt the example to the repository language.

Related to: https://github.com/meilisearch/integration-guides/issues/136

In the README, we want to add the `Custom Search With Filters` sub section in the `Getting Started` section to make the users are aware of filtering.

This should
- be placed right after the `Custom Search` sub section
- contain the following c

[2021-10-20 08:29] curquiza opened #217 "Replace Docker examples with `curl` examples"
Discussion and motivations here: https://github.com/meilisearch/integration-guides/issues/145

---

Two examples to run MeiliSearch are present in our repository documentations:

- in the README.md, in the `Installation section`.
- in the CONTRIBUTING.md, in the `Development Workflow` section.

TODO: change both examples **in README.md and CONTRIBUTING.md** the same way as we have already done it

[2021-10-20 08:56] b4sen commented on #217
Hi @curquiza, I see, thanks for the clarification! :)

[2021-10-20 10:17] #217 closed

[2021-10-20 16:27] curquiza opened #219 "Update .code-samples.meilisearch.yaml"
Following https://github.com/meilisearch/documentation/pull/1214, we would like to apply some changes in the `.code-samples.meilisearch.yaml` file at the root of the repository

- Regarding `get_distinct_attribute_1`, `update_distinct_attribute_1` and `reset_distinct_attribute_1`: if present, the index name should be `shoes`
- Regarding `update_distinct_attribute_1`: the distinct attribute passed

[2021-10-21 02:42] OathMoon opened #221 "do search got MeilisearchCommunicationError unable to execute request"
**Description**
I have a index with about 5000 documents, 16 fileds each document, search with this index sometimes got error response below:
MeilisearchCommunicationError unable to execute request (path "POST /indexes/messages/search" with method "Search"): write tcp4 x.x.x.x:port->x.x.x.x:7700: write: broken pipe

* MeiliSearch is running in docker with parameters: --http-addr 0.0.0.0:7700 --env

[2021-10-21 07:36] alallema commented on #221
Hi @OathMoon,
Thanks for the report, someone had already reported a problem with this #113. I thought that v0.21.0 had solved this problem. Apparently no, maybe it would be a good idea to change `fasthttp` for `net/http` if the problem comes from it.

[2021-10-21 07:37] alallema commented on #216
Hi @drew5494,
Thanks for your interest, of course, you can work on this issue.
We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines]

[2021-10-21 08:08] #204 closed

[2021-10-21 08:15] alallema opened #222 "Rewrite `AddDocument` and `UpdateDocument` method with variadic parameter"
Currently there is two function `AddDocuments` and `AddDocumentsWithPrimaryKey`.
Both methods can be reunited in one with this prototype:
[code]
Same for `UpdateDocuments` and `UpdateDocumentsWithPrimaryKey`. who can be rewrite with this prototype:
[code]

[2021-10-21 08:35] alallema commented on #222
Hi @penthaapatel ,
Thanks for your interest, of course, you can work on this issue.
We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidel

[2021-10-21 16:51] #222 closed, assigned to nobody

[2021-10-22 23:34] #219 closed, assigned to nobody

[2021-10-26 07:21] #210 closed, assigned to nobody

[2021-10-30 17:41] #216 closed

[2021-10-30 19:06] theag3nt commented on #215
Hi @curquiza!

If I understood correctly the handling of `batchSize` parameter is to be implemented on the client side. In case of NDJSON this should be trivial, but for CSV it might be a bit more complicated.

A couple of questions regarding this:
- Is a header mandatory for CSV files?
I assume it is, because otherwise it might not be possible to tell which value belongs to which field.
- If CSV

[2021-10-30 19:22] curquiza opened #232 "Rename `MeilisearchApiMessage`?"
@alallema shouldn't we renamed `MeilisearchApiMessage` into `MeilisearchApiError`?
Seems like `MeilisearchApiMessage` comes from the old MeiliSearch that only returned a message and nothing else
`MeilisearchApiMessage` now contains `message`, `link`, `type` and `code`.

[2021-11-01 07:32] OathMoon commented on #221
Hi @alallema I did not use curl command to check MeiliSearch instance during test case, It is running in docker and I use `docker losg -f MeiliSearch` to check container logs and there noting when problem comes.
I found someone says `fasthttp` keep-alive default timeout is 10 seconds, and MeiliSearch server timeout is 5 seconds, this may causes client connection closed by server if connection idle

[2021-11-15 09:02] alallema commented on #221
HI @OathMoon,
Thank you very much for all this information! I will try to dig a little when I have time

[2021-11-15 09:07] alallema commented on #232
Totally agree, I think that `MeilisearchApiMessage` is a relic from the old Meilisearch.

[2021-11-16 18:31] theag3nt opened #240 "Server v0.24.0 breaks error deserialization"
**Description**
The latest Meilisearch server version introduced breaking changes in the naming of fields in the error responses (meilisearch/MeiliSearch@61c15b69fb6dfd35676dd4008d29f27e9d2db35e) which also breaks the tests of this library.

**Environment:**
- OS: Ubuntu/Docker
- MeiliSearch version: v0.24.0
- meilisearch-go version: 5248264288ab1cf40e0d9c0c1375cf81f522cb19

[2021-11-16 19:51] alallema commented on #240
Hi @theag3nt,
You're right v0.24.0 has been released today 🎉 ! We are updating all the SDK.
[See](https://github.com/meilisearch/meilisearch-go/pull/229)

[2021-11-16 19:55] alallema commented on #240
I closed this issue too #241

[2021-11-16 19:55] #240 closed

[2021-11-18 15:27] roelofjan-elsinga opened #242 "Convert the dump status field to an enum"
**Description**
The Update type has an UpdateStatus enum, while the Dump type has a status as a string. Since this is an enum (according to the documentation, [link](https://docs.meilisearch.com/reference/api/dump.html#get-dump-status)), it's a good idea to convert this to any enum. By converting this field to an enum, the status fields have consistent behaviour.

[2021-11-23 13:43] #242 closed

[2021-11-23 16:52] bidoubiwa opened #244 "Update .code-samples.meilisearch.yaml"
Related to https://github.com/meilisearch/integration-guides/issues/155

Following the documentation issue (https://github.com/meilisearch/documentation/issues/1290) and PR (https://github.com/meilisearch/documentation/pull/1214) an additional code-sample must be added in the .code-samples.meilisearch.yaml file at the root of the repository.

### Information:

Using the following information the c

[2021-11-24 17:26] bidoubiwa opened #246 "Consistency in string pointers defined in all structs"
Some structs have the type `*string` and some have `string` . I don't know if this is wanted!

[code]

[code]

[2021-11-29 09:15] #244 closed

[2021-12-08 15:50] alallema commented on #215
Hi @theag3nt,
I'm sorry I didn't answer you sooner, I missed it.

Yes, every document should be formatted like a CSV file with a CSV header.

There are no specific requirements, except that the document/file must be in CSV format.
An example of request in curl:
[code]

I totally agree with you, it seems to be the best way.

[2021-12-13 09:12] #232 closed

[2021-12-21 10:04] roelofjan-elsinga opened #249 "Fix the JSON unmarshaling for the /stats endpoint"
After Meilisearch v0.22.0 the /stats endpoint response changed from:

[code]

to:

[code]

This hasn't been implemented in types.go yet, so these two fields cannot be parsed at the moment.

[2021-12-21 14:12] #249 closed

[2021-12-21 14:16] alallema commented on #249
Thanks, @roelofjan-elsinga for raising and fixing this issue! 🔥

[2022-01-21 17:02] buergi opened #252 "CreateIndex fails with 202 (Accepted) instead returning 201 (Created)"
**Description**

    index, err := client.CreateIndex(&meilisearch.IndexConfig{
        Uid: "myindex",
        PrimaryKey: "myid",
      })

and therefore also GetOrCreateIndex. Throws an error on success.

**Expected behavior**
Should create a new index (assuming it doesn't already exist).

**Current behavior**
Returns the following error

    unaccepted status code found: 202 expected: [201], M

[2022-01-21 17:35] reolat commented on #252
Hello @buergi,
I had the same problem a few days ago. As far as I know, this is because this package is not yet compatible with MeiliSearch version `v0.25.0`. See [this PR](https://github.com/meilisearch/meilisearch-go/pull/247) for more details.

In the meantime you can use Meilisearch `v0.24.0`. :)

[2022-01-21 20:56] brunoocasali commented on #252
Exactly @reolat :D

@buergi we're still working to update all the integrations 😅.

Sorry for the inconvenience :/

[2022-01-23 18:37] reversTeam opened #253 "ApiKey not working for v0.25"
**Description**
A modification took place on the method of authentication, this one does not work any more in version v0.25 can be before, I did not check.

Switching from `X-Meili-API-KEY: [...]` to `Authentication: Barrer [...]`
https://github.com/meilisearch/meilisearch-go/blob/main/client_request.go#L137

**Expected behavior**
The ApiKey must take into account the version of the client to work

[2022-01-24 08:31] alallema commented on #253
Hi @reversTeam,
You are right this package it's not yet compatible. See more details on [this comment](https://github.com/meilisearch/meilisearch-go/issues/252#issuecomment-1018721156). Sorry for the inconvenience.
I will let closed this issue due to duplication with #252.

[2022-01-24 08:31] #253 closed

[2022-01-27 15:13] johnhaha opened #260 "auth error on searching with CORRECT API key"
I keep having auth error searching with the correct API key after launching meilisearch in the remote server

[code]
 the api key can be used with CURL request and other http requests, just not work in golang sdk , here is my code

[code]

[2022-01-27 15:33] alallema commented on #260
Hi @johnhaha,
Yes, this package it's not yet compatible. See more details on this comment. Sorry for the inconvenience.
I will let closed this issue due to duplication with #252.
The update should arrive soon !

[2022-02-04 19:48] gf3 commented on #252
@alallema @reolat @brunoocasali is there a temporary fix besides disabling authentication? i'm experiencing this issue on v0.24.0 (AWS images)

[2022-02-08 16:52] #252 closed

[2022-02-15 06:53] stormyyd opened #270 "Why type waitParams is defined as a unexported type?"
Hi, there!

I just wanna know why type `waitParams` is defined as a unexported type?

`WaitForTask` method was defined as:
[code]

Making type `waitParams` unexported will cause user cannot pass custom `options` parameter to this method.

I know I can use `WaitForTask` without options parameter, and for me it's ok. But I think maybe make `waitParams` become `WaitParams`, that is make it exported i

[2022-02-15 08:43] alallema commented on #270
Hi @stormyyd,
Thanks for this comment. You're totally right it's a mistake!

[2022-02-17 09:42] #270 closed

[2022-03-05 02:25] Juncheng-Hu opened #273 "WaitForTask 方法的可变参数没有提供公有声明"
**Description**
![image](https://user-images.githubusercontent.com/33713644/156864162-da3e656b-354f-4dff-bc88-5756c5476074.png)

结构 waitParams 是私有的，无法在外部声明使用

**Basic example**
修改该结构为公有，或者提供初始化方法

[2022-03-07 08:24] alallema commented on #273
Hi @Juncheng-Hu,
Thanks for raising this issue. You're right this was a mistake fixed by this #272 issue. I will try to release it soon. Sorry ...

[2022-03-07 08:24] #273 closed

[2022-03-21 15:38] brunoocasali opened #278 "Update .code-samples.meilisearch.yaml"
⚠️ This issue is generated. It means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/i

[2022-04-11 19:47] brunoocasali opened #288 "Add support to the typo tolerance customization"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/190
- specification: https://github.com/meilisearch/specifications/pull/117

----

[2022-04-14 07:55] CatalinStratu commented on #288
Hello @brunoocasali, I'd like to handle this task. I think it's a good task for me to better understand the project.

[2022-04-14 15:21] brunoocasali commented on #288
Awesome @CatalinStratu 🎉

Since this typo customization is a new feature coming with the v0.27, and this package is not fully compatible yet with that version, to be possible to work on this issue, you should do this:

- Create a branch from `bump-meilisearch-v0.27.0` (and send your PR with this destination).
- Do your tests against Meilisearch v0.27.0rc1 and NOT `meilisearch:latest`. We have a fe

[2022-05-02 09:24] alallema commented on #288
Hi @CatalinStratu,
Thank you for offering your help ❤️ . We are opening this issue in case we didn't have time to implement it during the pre-release. However, I had time to implement it. Feel to check it and do any comments!

[2022-05-04 17:16] CatalinStratu opened #295 "Test error Windows"
**Description**
To better understand how this library works, I started studying the tests. I started running the tests on Windows 10 and when I got to run index_documents_test I got the error below

**Screenshots or Logs**
![image](https://user-images.githubusercontent.com/28156781/166741108-1759f528-674c-4101-b3d1-18e385845509.png)
![image](https://user-images.githubusercontent.com/28156781/16674

[2022-05-05 16:57] #295 closed

[2022-05-16 13:58] #288 closed

[2022-05-19 07:12] vsumit89 opened #297 "Timeout error when trying to connect to a remote meilisearch index"
<img width="1728" alt="Screenshot 2022-05-19 at 12 41 55 PM" src="https://user-images.githubusercontent.com/40121085/169232481-1f20d33b-6cde-4360-afe4-54f14aac0c07.png">

[2022-05-22 11:18] arnemolland opened #298 "Typo in fasthttp client name"
**Description**
The fasthttp client is initialized with the name "meilsearch". This sets the User-Agent header with the typo "meilsearch".

**Expected behavior**
User-Agent should be "meilisearch" not "meilsearch".

**Current behavior**
User-Agent is "meilsearch".

[2022-05-23 09:07] alallema commented on #298
Hi @arnemolland,
Good catch thanks for raising this typo!

[2022-05-23 09:15] #298 closed

[2022-05-23 10:15] alallema commented on #297
Hi @vsumit89,
Apparently, you are trying to do a `POST` search on port 8000 `http:/locahost:8000/search` but `Meilisearch` is accessible from the port `7700` maybe it could be from there.

[2022-05-24 08:40] Thearas commented on #221
Hi @alallema, @OathMoon and @curquiza, I got the same issue with Meilisearch v0.27 and client v0.19. I use the following code to create the client:

[code]

Meilisearch server closed the idle connections but client still sends request on them.
<img width="1918" alt="image" src="https://user-images.githubusercontent.com/44015907/169982461-f8ecc33c-c8e2-4f94-a4c6-d29e4341a6b0.png">

There're two pro

[2022-05-24 09:05] Thearas commented on #221
BTW, how to set connection timeout for Meilisearch?

[2022-05-24 10:29] alallema commented on #221
Hi @Thearas,
Thanks for all these pieces of information! There is no timeout on the Meilisearch side, the server will try to answer as long as it can.

[2022-05-24 10:36] Thearas commented on #221
It seems that actix_web does have a [default timeout 5s](https://docs.rs/actix-web/latest/actix_web/struct.HttpServer.html#method.keep_alive) ;)
And [the picture](https://user-images.githubusercontent.com/44015907/169982461-f8ecc33c-c8e2-4f94-a4c6-d29e4341a6b0.png) I posted above proves this.

[2022-05-24 16:02] alallema commented on #221
Yes, you're right! I try and I was able to let the stream open but it closed itself after 5s.
<img width="1738" alt="Screenshot 2022-05-24 at 16 31 15" src="https://user-images.githubusercontent.com/16155041/170080506-1aed9132-f11d-44d2-8600-a9d63053ba69.png">
But even if the server closes the stream I'm able to resend a new request after, I'm not sure to understand why the `golang` client gets st

[2022-05-31 15:18] alallema commented on #297
Hi @vsumit89,
Did you find where your issue come from?

[2022-05-31 16:17] Thearas commented on #221
This issue can be easily reproduced by:

[code]

Got error:
[code]

Though the errors are different, the TCP stream is the same, so I assume they are the same issue ;)

<img width="1541" alt="image" src="https://user-images.githubusercontent.com/44015907/171222174-3266665c-e153-4e95-8593-aca26d818d13.png">

[2022-06-06 20:27] Thearas commented on #221
You're right, maybe I encountered some conner case. I'm not sure yet.

[2022-06-07 12:17] alallema commented on #221
Hi @Thearas,
Thanks for the investigation, I don't think it was a corner case this issue seems to be there for a while!

[2022-06-07 14:21] alallema commented on #221
So great! Thank you so much I will check the PR 🔥

[2022-06-08 07:21] #221 closed

[2022-07-06 13:46] alallema opened #318 "Replace all `map[string]interface{}` by the type created for this purpose `Unknow`"
An "unknown" type is available in the type list but it has not been used or very little in this SDK.
It could be great and cleaner to replace all the `map[string]interface{}` with `Unknow`
[code]

[2022-07-06 13:53] alallema opened #319 "Remove `All` in all the methods"
It was decided for the consistency between the SDK that the name of the methods retrieving a resource list would be pluralized rather than using the word `All`.
However the followings methods have kept the All in their names:
`GetAllStats`
`GetAllIndexes`
`DeleteAllDocuments`
`GetAllRawIndexes`

It would be nice if they were renamed:
`GetStats`
`GetIndexes`
`DeleteDocuments`
`GetRawIndexes`

### W

[2022-07-16 18:12] brunoocasali opened #325 "Add support to the pagination setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-16 18:17] brunoocasali opened #326 "Add support to the facet setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-25 09:00] #325 closed

[2022-07-25 16:30] #326 closed

[2022-07-27 14:48] alallema opened #331 "Find a better way to define `Limit` parameter in all `QueryParameter` structs"
**Description**
In all the methods that allow sending a query parameter as struct like:
- TasksQuery
- DocumentsQuery
- IndexesQuery
- KeysQuery
We check that the parameter limit exists:
[code]
Yet, Meilisearch allows setting the limit parameter to 0, which is not possible currently with this SDK because the `Limit` is define as an `int64`
[code]

The simple solution could be to define the `Limit`

[2022-07-28 09:12] alallema commented on #297
I close this issue due to inactivity for a long time.

[2022-07-28 09:12] #297 closed

[2022-07-29 06:52] vsumit89 commented on #297
Sorry @alallema
I was inactive for a while. My issue has been solved, thanks for your help!

[2022-08-14 05:43] trim21 opened #337 "a `json.RawMessage` search response's hit fields"
Previous I'm using a es client to search.

This es client has a feature that it's search response's hit field has s `Source` field with `json.RawMessage` field, contain the raw bytes from API.

And so I can unmarshal it to the struct I'm expecting.

It's SDK api look like this:

[code]
(it's source https://github.com/olivere/elastic/blob/e5be2e003d85f8b9bf2c97662e34c6a857f60a61/search.go#L779)

Bu

[2022-08-17 08:35] Trim21 opened #338 "Upgrade `jwt` library to a version compatible with the go mod"
Only thing we need to do is to replace `jwt.StandardClaims` with `jwt.RegisteredClaims` and re-generate easyjson file.

[2022-08-17 15:44] #338 closed

[2022-08-25 19:00] alallema commented on #337
Hi @Trim21,
Yes, this could be a very good addition to this repo 🚀 ! For the moment it is not in our priorities unfortunately to modify this repo because others are not yet updated with the last release.
Thanks for your suggestion ❤️

[2022-09-01 10:04] OptimusePrime opened #344 "Typo tolerance code examples are incorrect"
Typo tolerance code samples aren't valid. For example, the Go sample code in the [Typo tolerance section](https://docs.meilisearch.com/learn/configuration/typo_tolerance.html) follows.

`client.index("movies").UpdateTypoTolerance({
  Enabled: false,
})`

This code is invalid. Firstly, all Go functions visible outside their package must be in PascalCase, so it isn't `index`; it's `Index`. Since Go

[2022-09-02 09:26] tMinamiii opened #346 "doc: README.me sample code is error occurred"
Sample code last output reads private variable.
Should be fix from `fmt.Println(task.taskUID)` to `fmt.Println(task.TaskUID)`.

[2022-09-05 08:16] #344 closed

[2022-09-05 08:39] #346 closed

[2022-09-16 21:08] marianvlad opened #351 "Struggling with SearchResponse.Hits"
Hi,

I tried for about 5 hours to get the all IDs from an Index search but it seems impossible, at least for me..  My meilisearch index has id, username, location, etc. I want to get all ids and put them in GORM Mysql (where id in (1,2,3,4)) to get the data from database.

[2022-09-17 06:10] marianvlad commented on #351
Found solution in https://github.com/meilisearch/meilisearch-go/issues/6#issuecomment-605968313

[2022-09-17 06:10] #351 closed

[2022-09-27 03:24] jpastorm opened #353 "Get documents always give me zero value"
**Description**
Hello, I am implementing the library and I see that a code function called GetDocuments is not working for me. I don't know why but others like search or GetDocument work for me. I don't see the error log, just a null message as if it had no data or something like that

**Expected behavior**
[code]

**Current behavior**
`null`
**Code**
[code]
**Environment:**
- OS: Manjaro GNU/Linu

[2022-09-28 11:46] alallema commented on #353
Hi @jpastorm,
You might have confused `DocumentQuery` with `DocumentResult`, I think your code should be something like :
[code]

[2022-09-28 16:25] jpastorm commented on #353
Hi @alallema,

The function signature receives the structure DocumentResult :(.

`func (i Index) GetDocuments(request *DocumentsQuery, resp *DocumentsResult) error `

The day I tried it, it seemed strange to me that the struct has a DocumentResult because this struct does not have a pointer.

[code]

The struct doesn't receive a pointer so I can't pass a pointer to it.

[2022-09-29 13:57] RemiPail opened #355 "Updating settings returns 405 (Method not allowed)"
**Description**
I would like to create a new index with specific settings.
I  used the code snippet from the [online documentation](https://docs.meilisearch.com/reference/api/settings.html#example-2)

[code]

**Expected behavior**
I expected no error happening
I expected the route GET /indexes/consents/settings to return the updated settings

**Current behavior**
This code throws an error "405 Met

[2022-09-29 14:56] alallema commented on #353
Hi @jpastorm,
Yes I'm sorry it's not:
[code]
but
[code]
The first one is used to send your query parameters and the second to receive your results.

[2022-09-29 15:07] alallema commented on #355
Hi @RemiPail,
You are right the `PATCH` method started to be used from the `v0.28.0` of `Meilisearch`. And from the version [v0.20.0](https://github.com/meilisearch/meilisearch-go/releases/tag/v0.20.0) of this SDK, it will only be compatible with the `v0.28.0`. So you can change your package version or upgrade to the `Meilisearch` version.
It should solve your issue

[2022-09-29 15:29] #355 closed

[2022-09-29 18:09] jpastorm commented on #353
Hello @alallema ,

The DocumentsResult struct is really needed because later in the code an unmarshal is made with the WithResponse attribute

`func (i Index) GetDocuments(request *DocumentsQuery, resp *DocumentsResult) error `
[code]

[2022-09-29 21:39] alallema commented on #353
Yes, sorry I didn't re-write the variable it should be as you said a `DocumentResult{}` my code is exactly that:
[code]
It should normally works this way tell me if it still not the case

[2022-09-29 22:04] jpastorm commented on #353
I forgot i could do that, it works

[2022-09-29 22:04] #353 closed

[2022-10-02 02:37] aldy505 commented on #331
Hi, I'd suggest a few things:

1. Use a builder pattern that's similar to Elasticsearch's client: `WithLimit(i int64)` -- this might break some API, or
2. Use the int64 pointer approach, but instead of having `*int64`, we could create a new `Limit` type that is a reference to `*int64`. The way the users should initialize it is through a function (like how you'd do it on AWS SDKs), `meilisearch.Lim

[2022-10-03 21:45] kuchaguangjie opened #357 "Get notification when a task succeed or failed?"
Currently I have to loop to retrieve task status, until it succeed or failed.
It there any way to get notified when a task succeed or failed, without loop, e.g via channel?

[2022-10-03 21:48] kuchaguangjie commented on #357
Never mind, just found `client.WaitForTask()` method in the sdk.

[2022-10-03 22:15] kuchaguangjie opened #358 "What does "PT" prefix mean in Task's Duration ?"
`PT2.238226520S` is from Task struct's `Duration`, what does `PT` mean ?

[2022-10-04 09:18] alallema commented on #358
Hi @kuchaguangjie,
The PT is for Period of Time you can check the [ISO 8601 Representation of dates and times](https://en.wikipedia.org/wiki/ISO_8601) at Duration:
[code]

[2022-10-04 09:18] #358 closed

[2022-10-04 09:51] alallema commented on #357
Hi @kuchaguangjie,
Yes, this method exists mainly for tests but we do not recommend using it because it is blocking, so be careful with it.

[2022-10-04 09:58] kuchaguangjie commented on #357
@alallema But, is there a better way to get notification ? Or, we don't need to.

[2022-10-05 11:13] shadowshot-x commented on #246
I can help with this issue

[2022-10-05 11:48] alallema commented on #246
Hi @shadowshot-x,
Please go ahead 😃

[2022-10-05 11:57] alallema commented on #357
Hi @kuchaguangjie,
Normally you should not need to be notified but I suggest that if you need it, it would be best to create a goroutine for this maybe. But in any case, you will have to make recurrent calls to the API who is not really good.

[2022-10-05 11:57] #357 closed

[2022-10-05 15:27] shadowshot-x opened #360 "Improve EasyJSON Instructions in Contributing File"
I noticed some errors while installing EasyJSON on my local Ubuntu18 Desktop. These were installation errors when following the Contribution guide.

https://github.com/meilisearch/meilisearch-go/blob/main/CONTRIBUTING.md#easyjson-

As per the Easyjson github page, we can specify a latest flag when installing for Golang>=1.17. https://github.com/mailru/easyjson#or

I believe this will be a good add

[2022-10-05 18:20] kuchaguangjie opened #362 "What's the best way to convert SearchResponse.Hits to []T?"
Each hit is a `map[string]any`, currently to convert `Hits` to `[]T` (e.g `[]model.Movie`), I have to loop each hit, and use json's marshal / unmarshal to convert it to T, I do that with a generic function as helper.

Do you have some better way to do that in current API.

If not, I might got some **suggestions:**
- Change all `[]interface` to `any`.
- Add generic support, at least some util funct

[2022-10-06 10:39] alallema commented on #362
Hi @kuchaguangjie,
Thanks for raising this issue, I think we already have one pretty similar to this issue #337.
From my point of view, it would be a great addition to either create a utility function to this SDK to convert the `SearchResponse` return to an `[]T` or `[]interface{}` or to create a new function called `SearchRaw` for example that would directly return an `[]T` or `[]interface{}`.

[2022-10-06 10:53] kuchaguangjie commented on #362
closed as duplicated with https://github.com/meilisearch/meilisearch-go/issues/337

[2022-10-06 10:53] #362 closed

[2022-10-06 11:10] shadowshot-x commented on #318
I can work on this issue

[2022-10-06 11:11] shadowshot-x commented on #246
After discussing, I dont think there are unnecessary *string in the code. This issue can be closed.
cc: @alallema and @bidoubiwa

[2022-10-06 11:49] #360 closed

[2022-10-06 11:49] alallema commented on #318
Hi @shadowshot-x,
Please, go for it I edit the issue it was a old comment 😃

[2022-10-06 21:43] kuchaguangjie opened #364 "Is there a connection pool?"
Does meilisearch support connection pool (like [this one](https://www.elastic.co/blog/the-go-client-for-elasticsearch-configuration-and-customization)), or even websocket connections ?

If not, do you think it's necessary to add at least one of them?
Thanks.

[2022-10-08 01:51] aldy505 commented on #331
1. Builder pattern:
[code]

2. Pointer approach
[code]

3. Less than zero limit - Create a global variable called NoLimit
[code]

[2022-10-08 14:15] shadowshot-x commented on #318
Awesome. Thank you @alallema

[2022-10-10 17:16] oluademola commented on #364
Hello @kuchaguangjie,

That is a good question, and it is indeed unique. We do not currently support this. However, because this is a feature request, I'd recommend you start a discussion about it on the [product repo](https://github.com/meilisearch/product/discussions/), detailing your use case and any other information that may be useful. This information would be very beneficial to our product

[2022-10-11 10:48] brunoocasali opened #365 "Replace MEILISEARCH_HOST by MEILISEARCH_URL in the docker config"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-10-11 14:19] #365 closed

[2022-10-13 14:26] 26tanishabanik commented on #337
@alallema , can I work on this issue? Where to start with for this issue in the source code?

[2022-10-14 14:05] alallema commented on #337
Hi @26tanishabanik,
Thanks for proposing, like @trim21 you can:
- add a new field in the `SearchResponse` response structure that contains the raw response
- create a new method called `SearchRaw()` which is exactly the same as the `Search()` method but instead of returning a `SearchResponse` it returns the raw response.
I prefer the second method but if you have trouble with it, you can choose th

[2022-10-18 20:48] brunoocasali opened #368 "Add new code-samples requested by the Meilisearch v0.29 release"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/integr

[2022-10-19 09:11] alallema opened #370 "Add `matchingStrategy` to `SearchRequest` structure"
**Description**
In the `v0.29.0` the parameter `matchingStrategy` has been added to the [search parameters](https://docs.meilisearch.com/reference/api/search.html#body). It should be added to the `SearchRequest` struct to be available for the user.

**Basic example**
See more about [matchingStrategy](https://docs.meilisearch.com/reference/api/search.html#matching-strategy) parameter.
[code]

**TO

[2022-10-19 14:15] #368 closed

[2022-10-20 12:34] alallema commented on #331
Thank you so much @aldy505 for your really clear and well explain examples.
Sorry to have taken time to answer this message but I had a hard time choosing which solution I would prefer and especially the one that would bring less friction to the use. I think that my favorite is the Pointer approach.
I'm going to modify this issue in this sense

[2022-10-20 21:34] ginglis13 commented on #337
Hi @26tanishabanik are you still interested in working this issue? otherwise I can take a look

[2022-10-24 08:44] alallema commented on #337
Hi @ginglis13,
No one seems to work on this issue right now. We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages volunteer contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](URL).
We are looking forwar

[2022-10-28 04:04] austinvazquez opened #378 "Remove references to github.com/pkg/errors"
Package github.com/pkg/errors has been marked deprecated.

https://github.com/pkg/errors

[2022-10-28 04:14] austinvazquez opened #380 "Remove references to io/ioutil"
Package io/ioutil has been marked deprecated in Go 1.16.

https://go.dev/doc/go1.16#ioutil

[2022-10-30 11:57] a11rew commented on #318
Hi @alallema, should a PR closing this issue change the types of the public APIs too or should changes be limited to internal uses of `map[string]interface{}`?

i.e. should something like [`GetRawIndex`](https://github.com/meilisearch/meilisearch-go/blob/1f355859a3b43151d4cb1496b6b5b8a48530f6bf/client_index.go#L16) return `meilisearch.Unknown` instead of `map[string]interface{}`?

I imagine those

[2022-11-07 07:35] alallema commented on #318
Hi @a11rew,
Thanks for the question, indeed I was just thinking of changing the internal type only to avoid breaking and not forcing people to use our specific type.

[2022-11-08 07:59] #378 closed

[2022-11-08 08:00] #380 closed

[2022-11-08 08:08] #337 closed

[2022-11-08 08:13] trim21 commented on #337
Any release plan?

[2022-11-08 08:18] alallema commented on #337
I just created it [here](https://github.com/meilisearch/meilisearch-go/pull/383)

[2022-11-08 17:08] intoxicated opened #384 "Basic search does not work due to invalid header"
**Description**
index().Search() not working

**Expected behavior**
should return 200 with empty result

**Current behavior**
 ```actix_http::h1::dispatcher] stream error: Request parse error: Invalid Header provided```

**Environment (please complete the following information):**
- OS: Mac OS X 12.2.1
- Meilisearch version: 0.29.1
- meilisearch-go version:  v0.21.1

[2022-11-08 17:25] intoxicated commented on #384
request from SDK
![Screen Shot 2022-11-09 at 2 23 37 AM](https://user-images.githubusercontent.com/848531/200633526-4f54e515-359a-42e8-bd84-8b2176aa4378.png)

request from curl
![Screen Shot 2022-11-09 at 2 23 25 AM](https://user-images.githubusercontent.com/848531/200633534-7b7ab502-618b-4f18-afff-e2fec21b88c1.png)

[2022-11-08 17:31] intoxicated commented on #384
similar error from POSTMAN
<img width="1299" alt="Screen Shot 2022-11-09 at 2 31 05 AM" src="https://user-images.githubusercontent.com/848531/200634794-22dac916-6b4b-451a-a586-9be05924ad94.png">

[2022-11-08 17:36] intoxicated commented on #384
closed it was due to https on local :/ sorry for false alarm

[2022-11-08 17:36] #384 closed